
.Home{
      padding: 0 10px 100px;
}
.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}
#mainHeading{
   font-size: max(4vw,36px);
}
#description{
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
}
.hero form{ 
    padding: 8px;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex:0;
}
.hero input{
  width: 100%;
  height: 2.5em;
  font-size: 15px;
  margin-left: 10px;
  border: none;
  outline:none;
}
.hero button{
    border: none;
    background: #7927ff;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.crypto-table {
    max-width: 800px;
    margin: auto;
    background: linear-gradient(#5403ff26, #69029926);
    border-radius: 15px;
}
.table-layout {
    display: grid;
    grid-template-columns: .5fr 2fr 1.5fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
    align-self: center;
}
.coin-name{
  display: flex;
   align-items: center;
   gap:1.3vw;
}
.table-layout img{
   width:35px;
}
#hrs-change{
   text-align: right; 
   padding-right: 12px;
}
@media (max-width: 500px) {
    .table-layout {
        font-size: 13px;
    }
}
@media (max-width: 768px) {
    .table-layout {
        grid-template-columns: .5fr 2fr 1fr 1fr;
    }
 
    #hrs-change{
      display: none;
    }
}
