.home {
  padding: 5.5%;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  /* border:1px solid white; */
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  padding: 18px auto;
  text-align: center;
  /* border:1px solid white; */
  
}
#mainHeading {
  font-size: 4rem;
  padding-bottom: 4vh;
}
#description {
  width: 75%;
  font-size: 1rem;
  color: #e3e3e3;
  line-height: 1.5rem;
  padding-bottom: 4vh;
}
.hero form {
  width: 80%;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
}
.hero form > input {
  width: 100%;
  height: 100%;
  padding: 15px 0;
  font-size: 15px;
  margin-left: 10px;
  border: none;
}
.hero form > input:focus {
  outline: 0;
}
.hero input::placeholder {
  font-weight: 500;
}
#submit-button {
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 16px;
  background: #7927ff;
  color: #fff;
  cursor: pointer;
  border: none;
}

.crypto-table{    
    max-width: 800px;
    margin: auto;
    background:linear-gradient(rgba(84,3,255,0.15),rgba(105,2,153,0.15));
    border-radius:15px;
}

.table-layout{
   display: grid;
   grid-template-columns: .5fr 2.2fr 1.2fr 1fr 1.5fr;
   padding: 15px 20px; 
   align-items: center;
   border-bottom: 1px solid #3c3c3c;
}
.table-layout img{
   width: 37px;
}
#market{
   text-align: right;
   padding-right: 18px;
}
.coin-name{
   display: flex;
   align-items: center;
   gap:1.3vw;
}
@media (max-width: 1024px){
  #mainHeading {
    font-size: 3.6rem;
    padding-bottom: 4vh;
  }
  .hero {
    margin: 4rem 0;
  }
}

@media (max-width: 768px) {
  #mainHeading {
    font-size: 2.8rem;
  }
  #description {
    width: 72%;
    line-height: 1.5rem;
  }
}
@media (max-width: 480px) {
  #mainHeading {
    font-size: 2.3rem;
  }
}
