nav{
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 2px solid #3c3c3c;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
     width: max(12vw, 120px);
     cursor: pointer;
}
.items ul{
     display: flex;
     gap:3vw;
     font-size:15px;
}
.items li{
     list-style: none;
}
.right-items{
     height:40px;
     display: flex;
     align-items: center;
     gap:1vw;
    }
.right-items select{
      padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid white;
    background: transparent;
    color: #fff;
}
.right-items select option{
    background-color: #0b004e;  
    color:white;
    padding: 2px 0;
}
select:hover{
     cursor: pointer;
}
.right-items select option:checked{ 
    outline:none;
    
}
#sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
     height: 100%;
     width:130px;
     border-radius: 50px;
     font-size:14px;
     font-weight:500;
}
#arrow{
    height:30%;
     text-align: center;
     padding-left: 10px;
}

@media (max-width: 900px) {
    .navbar {
        padding: 20px 8%;
    }
}
@media (max-width: 768px) {
    .navbar {
        padding: 20px 5%;
    }
   
}
@media(max-width:948px){
      .items ul{
        display: none;
    }
}
/* @m
@media (max-width: 480px) {

    .logo img {
        height: 1.5rem;
    }
    .right-items {
        align-items: center;
    }

    #sign-up {
                width: 100px;

    }
} */
