.footer{
    max-width:80%;
    border-top: 1px solid #989898;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
}
